venv
.json
esercizi/nov26/.mypy_cache/CACHEDIR.TAG
esercizi/nov26/.mypy_cache/3.12/_ast.data.json
esercizi/nov26/.mypy_cache/3.12/_ast.meta.json
esercizi/nov26/.mypy_cache/3.12/_codecs.data.json
esercizi/nov26/.mypy_cache/3.12/_codecs.meta.json
esercizi/nov26/.mypy_cache/3.12/_collections_abc.data.json
esercizi/nov26/.mypy_cache/3.12/_collections_abc.meta.json
esercizi/nov26/.mypy_cache/3.12/_frozen_importlib_external.data.json
esercizi/nov26/.mypy_cache/3.12/_frozen_importlib_external.meta.json
esercizi/nov26/.mypy_cache/3.12/_frozen_importlib.data.json
esercizi/nov26/.mypy_cache/3.12/_frozen_importlib.meta.json
esercizi/nov26/.mypy_cache/3.12/_io.data.json
esercizi/nov26/.mypy_cache/3.12/_io.meta.json
esercizi/nov26/.mypy_cache/3.12/_sitebuiltins.data.json
esercizi/nov26/.mypy_cache/3.12/_sitebuiltins.meta.json
esercizi/nov26/.mypy_cache/3.12/@plugins_snapshot.json
esercizi/nov26/.mypy_cache/3.12/abc.data.json
esercizi/nov26/.mypy_cache/3.12/abc.meta.json
esercizi/nov26/.mypy_cache/3.12/ast.data.json
esercizi/nov26/.mypy_cache/3.12/ast.meta.json
esercizi/nov26/.mypy_cache/3.12/builtins.data.json
esercizi/nov26/.mypy_cache/3.12/builtins.meta.json
esercizi/nov26/.mypy_cache/3.12/codecs.data.json
esercizi/nov26/.mypy_cache/3.12/codecs.meta.json
esercizi/nov26/.mypy_cache/3.12/contextlib.data.json
esercizi/nov26/.mypy_cache/3.12/contextlib.meta.json
esercizi/nov26/.mypy_cache/3.12/dataclasses.data.json
esercizi/nov26/.mypy_cache/3.12/dataclasses.meta.json
esercizi/nov26/.mypy_cache/3.12/enum.data.json
esercizi/nov26/.mypy_cache/3.12/enum.meta.json
esercizi/nov26/.mypy_cache/3.12/esercizio_01.data.json
esercizi/nov26/.mypy_cache/3.12/esercizio_01.meta.json
esercizi/nov26/.mypy_cache/3.12/genericpath.data.json
esercizi/nov26/.mypy_cache/3.12/genericpath.meta.json
esercizi/nov26/.mypy_cache/3.12/io.data.json
esercizi/nov26/.mypy_cache/3.12/io.meta.json
esercizi/nov26/.mypy_cache/3.12/posixpath.data.json
esercizi/nov26/.mypy_cache/3.12/posixpath.meta.json
esercizi/nov26/.mypy_cache/3.12/re.data.json
esercizi/nov26/.mypy_cache/3.12/re.meta.json
esercizi/nov26/.mypy_cache/3.12/resource.data.json
esercizi/nov26/.mypy_cache/3.12/resource.meta.json
esercizi/nov26/.mypy_cache/3.12/sre_compile.data.json
esercizi/nov26/.mypy_cache/3.12/sre_compile.meta.json
esercizi/nov26/.mypy_cache/3.12/sre_constants.data.json
esercizi/nov26/.mypy_cache/3.12/sre_constants.meta.json
esercizi/nov26/.mypy_cache/3.12/sre_parse.data.json
esercizi/nov26/.mypy_cache/3.12/sre_parse.meta.json
esercizi/nov26/.mypy_cache/3.12/subprocess.data.json
esercizi/nov26/.mypy_cache/3.12/subprocess.meta.json
esercizi/nov26/.mypy_cache/3.12/types.data.json
esercizi/nov26/.mypy_cache/3.12/types.meta.json
esercizi/nov26/.mypy_cache/3.12/typing_extensions.data.json
esercizi/nov26/.mypy_cache/3.12/typing_extensions.meta.json
esercizi/nov26/.mypy_cache/3.12/typing.data.json
esercizi/nov26/.mypy_cache/3.12/typing.meta.json
esercizi/nov26/.mypy_cache/3.12/zipimport.data.json
esercizi/nov26/.mypy_cache/3.12/zipimport.meta.json
esercizi/nov26/.mypy_cache/3.12/_typeshed/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/_typeshed/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/_typeshed/importlib.data.json
esercizi/nov26/.mypy_cache/3.12/_typeshed/importlib.meta.json
esercizi/nov26/.mypy_cache/3.12/collections/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/collections/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/collections/abc.data.json
esercizi/nov26/.mypy_cache/3.12/collections/abc.meta.json
esercizi/nov26/.mypy_cache/3.12/email/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/email/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/email/_policybase.data.json
esercizi/nov26/.mypy_cache/3.12/email/_policybase.meta.json
esercizi/nov26/.mypy_cache/3.12/email/charset.data.json
esercizi/nov26/.mypy_cache/3.12/email/charset.meta.json
esercizi/nov26/.mypy_cache/3.12/email/contentmanager.data.json
esercizi/nov26/.mypy_cache/3.12/email/contentmanager.meta.json
esercizi/nov26/.mypy_cache/3.12/email/errors.data.json
esercizi/nov26/.mypy_cache/3.12/email/errors.meta.json
esercizi/nov26/.mypy_cache/3.12/email/header.data.json
esercizi/nov26/.mypy_cache/3.12/email/header.meta.json
esercizi/nov26/.mypy_cache/3.12/email/message.data.json
esercizi/nov26/.mypy_cache/3.12/email/message.meta.json
esercizi/nov26/.mypy_cache/3.12/email/policy.data.json
esercizi/nov26/.mypy_cache/3.12/email/policy.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/_abc.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/_abc.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/_bootstrap_external.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/_bootstrap_external.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/_bootstrap.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/_bootstrap.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/abc.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/abc.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/machinery.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/machinery.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/readers.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/readers.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/metadata/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/metadata/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/metadata/_meta.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/metadata/_meta.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/_common.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/_common.meta.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/abc.data.json
esercizi/nov26/.mypy_cache/3.12/importlib/resources/abc.meta.json
esercizi/nov26/.mypy_cache/3.12/os/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/os/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/os/path.data.json
esercizi/nov26/.mypy_cache/3.12/os/path.meta.json
esercizi/nov26/.mypy_cache/3.12/pathlib/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/pathlib/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/sys/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/sys/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/sys/_monitoring.data.json
esercizi/nov26/.mypy_cache/3.12/sys/_monitoring.meta.json
esercizi/nov26/.mypy_cache/3.12/zipfile/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/zipfile/__init__.meta.json
esercizi/nov26/.mypy_cache/3.12/zipfile/_path/__init__.data.json
esercizi/nov26/.mypy_cache/3.12/zipfile/_path/__init__.meta.json
